li {
    float: left;
    padding: 10px;
    font-family: Comic Sans MS;
    font-size: 20px;
}

//TESTE

#pag{
    margin: auto;
}

ul{
    border: #080808;
    border-width: 10px;
    list-style-type:none;
}
#rodape{
    position:absolute;
    bottom:0;
    width:100%;
}

#import{
    float: left;
    padding: 10px;
    display: inline;
}
#clear{
    clear: both;
}

input[type=text]{     
    width:500px
}
input[type=password]{     
    width:500px
}

input[type=button]{     
    width:50px
}
#filee{
    width:500px;
    float: right;
}
html, body {height:100%;}

body  {
	margin:5;
	padding:5;
}
#index{
    color: #0033ff;
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 120px;
    font-style: inherit;
    margin-top: 300px;
}
h2{
    color: #0033ff;
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 60px;
    font-style: inherit;
    margin-top: 300px;
}